<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Reporte Mensual Empleados</h1>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active">Reporte</li>
              </ol>
          </div>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">
        <form [formGroup]="formRep" >
          <div class="form-col">
            <div class="form-group">
              <label for="inputEmpleado">Empleado</label>
              <select id="inputState" class="form-control" formControlName="emp">
                <option *ngFor="let e of emp" [value]="e.idEmpleado">
                  {{e.nombreEmp}} {{e.apellidoEmp}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputMesL">Mes</label>
              <select id="inputMes" class="form-control"  formControlName="mes">
                <option *ngFor="let m of meses" [value]="m.idMes">
                  {{m.nombreMes}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputYearL">Año</label>
              <select id="anio" name="anio" class="form-control"  formControlName="anio">
                <option *ngFor="let a of anio" [value]="a.id">
                  {{a.nombre}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary center" (click)="FindDtsEmp()">Buscar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                  <div class="text-center">
                      <pf-image
                          class="user-img"
                          src="/assets/img/default-profile.png"
                          alt="User profile picture"
                          width="100"
                          height="100"
                          rounded
                      ></pf-image>
                  </div>

                  <h3 class="profile-username text-center" >
                    {{nombreEmp}}
                  </h3>

                  <p class="text-muted text-center" >
                    {{puesto}}
                  </p>

                  <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                          <b>Salario</b>
                          <a class="float-right" >
                            {{salario | currency:"$"}}
                          </a>
                      </li>
                      <li class="list-group-item">
                          <b>Entregas</b> <a class="float-right" >
                            {{comision | currency:"$"}}
                          </a>
                      </li>
                      <li class="list-group-item">
                          <b>Bono</b> <a class="float-right" >
                            {{bono | currency:"$"}}
                          </a>
                      </li>
                  </ul>

                  <a href="" class="btn btn-primary btn-block"
                      ><b>Mas información</b></a
                  >
              </div>
              <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
        <!-- /.col -->
      <div class="col-md-5">
          <div class="card">
              <div class="card-header p-2">
                  <ul class="nav nav-pills">
                      <li class="nav-item">
                          <a
                              class="nav-link active"
                              href="#salario"
                              data-toggle="tab"
                              >Detalles</a
                          >
                      </li>
                      <!-- <li class="nav-item">
                          <a
                              class="nav-link"
                              href="#entregas"
                              data-toggle="tab"
                              >Entregas</a
                          >
                      </li>
                      <li class="nav-item">
                          <a
                              class="nav-link"
                              href="#bonos"
                              data-toggle="tab"
                              >Bonos</a
                          >
                      </li> -->
                  </ul>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="tab-content">
                      <div class="active tab-pane" id="salario">
                          <!-- Post -->
                          <div class="post">
                            <div class="container">
                            <div class="row align-items-start">
                              <div class="col">
                                <label class="strong">
                                  Concepto
                                </label>
                              </div>
                              <div class="col">
                                <label class="strong">
                                  Cantidad
                                </label>
                              </div>
                            </div>
                              <div class="row align-items-start">
                                <div class="col">
                                  Horas
                                </div>
                                <div class="col">
                                  {{horas}}
                                </div>
                              </div>
                              <div class="row align-items-center">
                                <div class="col">
                                  Salario
                                </div>
                                <div class="col">
                                  {{salario | currency:"$"}}
                                </div>
                              </div>
                              <div class="row align-items-center">
                                <div class="col">
                                  Entregas
                                </div>
                                <div class="col">
                                  {{entregas}}
                                </div>
                              </div>
                              <div class="row align-items-end">
                                <div class="col">
                                  Comision
                                </div>
                                <div class="col">
                                  {{comision | currency:"$"}}
                                </div>
                              </div>
                              <div class="row align-items-end">
                                <div class="col">
                                  Bono
                                </div>
                                <div class="col">
                                  {{bono | currency:"$"}}
                                </div>
                              </div>
                              <div class="row align-items-end">
                                <div class="col">
                                  Vales Despensa
                                </div>
                                <div class="col">
                                  {{valesDespensa | currency:"$"}}
                                </div>
                              </div>
                              <div class="row align-items-end">
                                <div class="col">
                                  ISR
                                </div>
                                <div class="col">
                                  {{isr}}%
                                </div>
                              </div>
                              <div class="row align-items-end">
                                <div class="col">
                                  Costo ISR
                                </div>
                                <div class="col">
                                  {{costoIsr | currency:"$"}}
                                </div>
                              </div>
                              <div class="row align-items-end">
                                <div class="col">
                                  Subtotal
                                </div>
                                <div class="col">
                                  {{subtotal | currency:  "$"}}
                                </div>
                              </div>
                              <div class="row align-items-end">
                                <div class="col">
                                  Total Neto
                                </div>
                                <div class="col">
                                  {{total | currency:  "$"}}
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /.post -->

                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="entregas">
                          <!-- The timeline -->
                          <div class="timeline timeline-inverse">
                              <!-- timeline time label -->
                              <div class="time-label">
                                  <span class="bg-danger">
                                      10 Feb. 2014
                                  </span>
                              </div>
                              <!-- /.timeline-label -->
                              <!-- timeline item -->
                              <div>
                                  <i
                                      class="fas fa-envelope bg-primary"
                                  ></i>

                                  <div class="timeline-item">
                                      <span class="time"
                                          ><i class="far fa-clock"></i>
                                          12:05</span
                                      >

                                      <h3 class="timeline-header">
                                          <a href="#">Support Team</a>
                                          sent you an email
                                      </h3>

                                      <div class="timeline-body">
                                          Etsy doostang zoodles disqus
                                          groupon greplin oooj voxy
                                          zoodles, weebly ning heekya
                                          handango imeem plugg dopplr
                                          jibjab, movity jajah plickers
                                          sifteo edmodo ifttt zimbra.
                                          Babblely odeo kaboodle quora
                                          plaxo ideeli hulu weebly
                                          balihoo...
                                      </div>
                                      <div class="timeline-footer">
                                          <a
                                              href="#"
                                              class="btn btn-primary btn-sm"
                                              >Read more</a
                                          >
                                          <a
                                              href="#"
                                              class="btn btn-danger btn-sm"
                                              >Delete</a
                                          >
                                      </div>
                                  </div>
                              </div>
                              <!-- END timeline item -->
                              <!-- timeline item -->
                              <div>
                                  <i class="fas fa-user bg-info"></i>

                                  <div class="timeline-item">
                                      <span class="time"
                                          ><i class="far fa-clock"></i> 5
                                          mins ago</span
                                      >

                                      <h3
                                          class="timeline-header border-0"
                                      >
                                          <a href="#">Sarah Young</a>
                                          accepted your friend request
                                      </h3>
                                  </div>
                              </div>
                              <!-- END timeline item -->
                              <!-- timeline item -->
                              <div>
                                  <i
                                      class="fas fa-comments bg-warning"
                                  ></i>

                                  <div class="timeline-item">
                                      <span class="time"
                                          ><i class="far fa-clock"></i> 27
                                          mins ago</span
                                      >

                                      <h3 class="timeline-header">
                                          <a href="#">Jay White</a>
                                          commented on your post
                                      </h3>

                                      <div class="timeline-body">
                                          Take me to your leader!
                                          Switzerland is small and
                                          neutral! We are more like
                                          Germany, ambitious and
                                          misunderstood!
                                      </div>
                                      <div class="timeline-footer">
                                          <a
                                              href="#"
                                              class="btn btn-warning btn-flat btn-sm"
                                              >View comment</a
                                          >
                                      </div>
                                  </div>
                              </div>
                              <!-- END timeline item -->
                              <!-- timeline time label -->
                              <div class="time-label">
                                  <span class="bg-success">
                                      3 Jan. 2014
                                  </span>
                              </div>
                              <!-- /.timeline-label -->
                              <!-- timeline item -->
                              <div>
                                  <i class="fas fa-camera bg-purple"></i>

                                  <div class="timeline-item">
                                      <span class="time"
                                          ><i class="far fa-clock"></i> 2
                                          days ago</span
                                      >

                                      <h3 class="timeline-header">
                                          <a href="#">Mina Lee</a>
                                          uploaded new photos
                                      </h3>

                                      <div class="timeline-body">
                                          <pf-image
                                              src="assets/img/default-profile.png"
                                              alt="..."
                                              width="0"
                                              height="0"
                                          ></pf-image>
                                          <pf-image
                                              src="assets/img/default-profile.png"
                                              alt="..."
                                              width="0"
                                              height="0"
                                          ></pf-image>
                                          <pf-image
                                              src="assets/img/default-profile.png"
                                              alt="..."
                                              width="0"
                                              height="0"
                                          ></pf-image>
                                          <pf-image
                                              src="assets/img/default-profile.png"
                                              alt="..."
                                              width="0"
                                              height="0"
                                          ></pf-image>
                                      </div>
                                  </div>
                              </div>
                              <!-- END timeline item -->
                              <div>
                                  <i class="far fa-clock bg-gray"></i>
                              </div>
                          </div>
                      </div>
                      <!-- /.tab-pane -->

                      <div class="tab-pane" id="bonos">

                      </div>
                      <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
              </div>
              <!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
